### Q1. WAP to calculate the electricity bill using only if statement? (accept number of unit from usera:

   Unit                     Price

 First 100 units          no charge
 Next 100 units           Rs 5 per unit
 After 200 units          Rs 10 per unit

In [8]:
units = int(input("Enter the consumed units : "))
if units <= 100:
    bill = 0

if units > 100 and units <= 200:
    bill = (units - 100) * 5

elif units > 200:
    bill = 100 * 5 
    bill = bill + (units - 200) * 10  

print(f"The electricity bill for {units} units is Rs {bill}")

Enter the consumed units :  400

The electricity bill for 400 units is Rs 2500

In [6]:
units = int(input("Enter the consumed units : "))

bill = 0

if units > 100:
    remaining_units = units - 100
    
    if remaining_units <= 100:
        bill = bill + remaining_units * 5
        
    else:
        bill = bill + 100 * 5
        remaining_units = remaining_units- 100
        bill = bill + remaining_units * 10

print(f"The electricity bill for {units} units is Rs {bill}")

Enter the consumed units :  100

The electricity bill for 100 units is Rs 0

### Q2. WAP to accept percentage from the user and display the grade according to the following criteria::

 Marks                   Grade

 >90                      A
 >80  <= 90               B
 >= 60 and <= 80          C
 below 60                 D

In [18]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    grade = "A"
elif percentage > 80:
    grade = "B"
elif percentage >= 60:
    grade = "C"
else:
    grade = "D"

print(f"The grade for {percentage}% is {grade}")

Enter the percentage:  80

The grade for 80.0% is C

### Q3. Accept the age of 4 people and display the youngest one?

In [21]:
age1 = int(input("Enter the age of the 1st person: "))
age2 = int(input("Enter the age of the 2nd person: "))
age3 = int(input("Enter the age of the  person: "))
age4 = int(input("Enter the age of the fourth person: "))

if age1 < age2 and age1 < age3 and age1 < age4:
    youngest = age1
elif age2 < age3 and age2 < age4:
    youngest = age2
elif age3 < age4:
    youngest = age3
else:
    youngest = age4

print(f"The youngest age is {youngest}")

Enter the age of the 1st person:  55
Enter the age of the 2nd person:  60
Enter the age of the  person:  23
Enter the age of the fourth person:  40

The youngest age is 23

### Q4. A company decided to give bonus to employee according to following criteria:

Time period of Service            Bonus

More than 10 years                 10%
>=6 and <=10                        8%
Less than 6 years                   5%

Ask user for their salary and years of service and print the net bonus amount?

In [32]:
salary = float(input("Enter your salary: "))
service_year = int(input("Enter your years of service: "))

if service_year > 10:
    bonus = salary * 0.10
elif service_year >= 6:
    bonus = salary * 0.08
else:
    bonus = salary * 0.05
    
print(f"The net bonus amount is Rs {bonus}")

Enter your salary:  10000
Enter your years of service:  5

The net bonus amount is Rs 500.0

### Q5. Accept three numbers from the user and display the second largest number??

In [48]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 > num2:
    if num1 < num3:
        second_largest = num1
    elif num2 > num3:
        second_largest = num2
    else:
        second_largest = num3
else:
    if num2 < num3:
        second_largest = num2
    elif num1 > num3:
        second_largest = num1
    else:
        second_largest = num3

print(f"The second largest number is {second_largest}")

Enter the first number:  30
Enter the second number:  585
Enter the third number:  6

The second largest number is 30.0

### Q6. Accept the marked price from the user and calculate the Net amount as (Marked Price – Discount) to pay according to following criteria :

Marked Price           Discount
>10000                   20%
>7000 and <=10000        15%
<=7000                   10%

In [76]:
marked_price = float(input("Enter the marked price: "))

if marked_price > 10000:
    discount = 20
elif marked_price > 7000:
    discount = 15
else:
    discount = 10

discount_amount = (discount / 100) * marked_price
net_amount = marked_price - discount_amount

print(f"Marked Price: Rs {marked_price: .2f}/-")
print(f"Discount Percentage: {discount}%")
print(f"Discount Amount: Rs {discount_amount: .2f}/-")
print(f"Net Amount to Pay: Rs {net_amount:.2f}/-")

Enter the marked price:  10000

Marked Price: Rs  10000.00/-
Discount Percentage: 15%
Discount Amount: Rs  1500.00/-
Net Amount to Pay: Rs 8500.00/-

### Q7. Accept the marks of English, Math and Science, Social Studies Subject and display the stream allotted according to following:

All Subjects more than 80 marks           —      Science Stream
English>80 and Math, Science above 50     —      Commerce Stream
English>80 and social studies>80          —      Humanities

In [82]:
English = float(input("Enter marks for English: "))
Math = float(input("Enter marks for Math: "))
Science = float(input("Enter marks for Science: "))
Social_Studies = float(input("Enter marks for Social Studies: "))

if English > 80 and Math > 80 and Science > 80 and Social_Studies > 80:
    stream = "Science Stream"
elif English > 80 and Math > 50 and Science > 50:
    stream = "Commerce Stream"
elif English > 80 and Social_Studies > 80:
    stream = "Humanities"
else:
    stream = "No specific stream allotted"

print(f"Stream Allotted: {stream}")

Enter marks for English:  80
Enter marks for Math:  59
Enter marks for Science:  70
Enter marks for Social Studies:  79

Stream Allotted: No specific stream allotted

### 8.WAP to display "Hello" if a number entered by user is a multiple of five, otherwise print "Bye"??

In [94]:
num = int(input("Enter a number: "))

if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number:  33

Bye

### Q9. WAP to check whether the last digit of a number (entered by user) is divisible by 3 or not??

In [112]:
number = int(input("Enter a number: "))

last_digit = number % 10

if last_digit % 3 == 0:
    print("The last digit is divisible by 3.")
else:
    print("The last digit is not divisible by 3.")

Enter a number:  34

The last digit is not divisible by 3.

### Q10. Write a program to check whether a number entered is three-digit number or not??

In [110]:
number = int(input("Enter a number: "))

if 100 <= number <= 999:
    print("The number is a three-digit number.")
else:
    print("The number is not a three-digit number.")

Enter a number:  300

The number is a three-digit number.